.n2{
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
    display: inline;
}
#n1{
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
    display: inline;
}